#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
  background-color:red;
}

#row1col1 {

}

#row1col2 {

}

#row1col3 {

}

#row2col1 {

}

#row2col2 {

}

#row2col3 {

}

#row3col1 {

}

#row3col2 {

}

#row3col3 {

}
